version: '3'
services:
  sympa:
    image: sympa:6.2.52
    env_file:
      - ./environment
    restart: always
    volumes:
      - /dev/log:/dev/log
    depends_on:
      - database
      - postfix
  database:
    image: postgres:11-alpine
    env_file:
      - ./environment
    volumes:
      - postgres-data:/var/lib/postgresql/data
    restart: always
  postfix:
    image: boky/postfix:v1.1.3
    env_file:
      - ./environment
    restart: always
  dancer:
    image: dancer:0.0.1

volumes:
  postgres-data: {}

