domain lists.example.com
listmaster test@lists.example.com

db_type [% db_type %]
db_name [% db_name %]
db_host [% db_host %]
db_user [% db_user %]
db_passwd [% db_pass %]

[% IF log_level %]
log_level [% log_level %]
[% END %]

[% IF sendmail %]
sendmail [% sendmail %]
[% END %]